body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, green 10%, black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#circle {
    position: absolute;
    width: 396px;  /* 70% от 1280px */
    height: 396px; /* 70% от 1280px */
    background: radial-gradient(circle, green 40%, black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

#balance-container {
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#energy-bar {
    position: absolute;
    bottom: 20px;
    width: 80%;
    height: 8px;
    background-color: gray;
    border-radius: 15px;
}

#energy {
    height: 100%;
    background-color: yellow;
    border-radius: 15px;
    width: 100%;
}

#upgrade-btn {
    position: absolute;
    top: 20px; /* Расположить кнопку в верхнем левом углу */
    left: 20px; /* Расположить кнопку в верхнем левом углу */
    width: 120px; /* Сделать кнопку меньше */
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 8px;
    border-radius: 8px; /* Меньшие скругления углов */
    border: none;
    font-size: 14px; /* Меньший размер шрифта */
    cursor: pointer;
    text-align: center;
}

.plus-one {
    position: absolute;
    color: white;
    font-size: 24px;
    animation: moveUpAndRotate 1s ease forwards, fadeOut 1s ease forwards;
    pointer-events: none;
    z-index: 10;
}

@keyframes moveUpAndRotate {
    0% { 
        transform: translateY(0) translateX(0) rotate(0deg); 
    }
    25% { 
        transform: translateY(-25px) translateX(-10px) rotate(-15deg); 
    }
    50% { 
        transform: translateY(-50px) translateX(10px) rotate(15deg); 
    }
    75% { 
        transform: translateY(-75px) translateX(-10px) rotate(-15deg); 
    }
    100% { 
        transform: translateY(-100px) translateX(0) rotate(0deg); 
    }
}
