body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, green 10%, black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#circle {
    position: relative;
    width: 60vw;  /* Ширина 60% от ширины экрана */
    height: 60vw; /* Высота 60% от ширины экрана */
    max-width: 400px;  /* Максимальная ширина круга */
    max-height: 400px; /* Максимальная высота круга */
    background: radial-gradient(circle, green 40%, black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

#balance-container {
    position: absolute;
    top: 10%;
    right: 2vw; /* Отступ справа */
    text-align: right; /* Текст выравнен справа */
    font-size: 5vw;  /* Адаптивный размер текста */
    font-weight: bold;
    color: #fff;
    max-width: 90vw;
}

#energy-bar {
    position: absolute;
    bottom: 10vh; /* Отступ снизу 25% от высоты экрана */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Смещение влево на 50% ширины */
    width: 80%;
    height: 1.5vh;  /* Адаптивная высота */
    background-color: gray;
    border-radius: 15px;
}

#energy {
    height: 100%;
    background-color: yellow;
    border-radius: 15px;
    width: 100%;
}

#upgrade-btn {
    position: absolute;
    bottom: 25vh; /* Отступ снизу 15% от высоты экрана */
    right: 2vw; /* Отступ справа */
    width: 30%; /* Ширина кнопки в процентах */
    max-width: 300px; /* Максимальная ширина кнопки */
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 1vh;  /* Адаптивные отступы */
    border-radius: 10px; /* Радиус кнопки */
    border: none;
    font-size: 3vw; /* Адаптивный размер шрифта */
    cursor: pointer;
    text-align: center;
}

#plus-one {
    position: absolute;
    font-size: 3.5vw;  /* Адаптивный размер текста */
    font-weight: bold;
    color: #3998db;
    opacity: 0;
    animation: fly-up 1s forwards;
}

@keyframes fly-up {
    0% {
        opacity: 1;
        transform: translateX(-20px) translateY(0) rotate(0deg);
    }
    20% {
        transform: translateY(-50px) rotate(-15deg);
    }
    40% {
        transform: translateX(20px) translateY(-50px) rotate(-40deg);
    }
    60% {
        transform: translateY(-70px) rotate(20deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) rotate(0deg);
    }
}

#energy-upgrade-btn {
    position: absolute;
    bottom: 20vh; /* Adjusted position to be below the click upgrade button */
    right: 2vw; /* Align with the click upgrade button */
    width: 30%; /* Width same as the click upgrade button */
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0.8vh;
    border-radius: 10px;
    border: none;
    font-size: 2vw; /* Adaptive font size */
    cursor: pointer;
    text-align: center;
}
